<% if user_signed_in? %>

<% else %>
	<div class="center hero-unit">
	    <h2>Welcome to Hethe's<h2> 
	    <p>
	    <h1>One Month Rails Project! </h1>
	    </p>
	    	You've found the home page for the <%= link_to 'One Month Rails', "http://onemonthrails.com" %>
	    	application.
	    </p> 
	    <p> <%= link_to 'Sign up now!',  new_user_registration_path, class: "btn btn-primary btn-large" %> </p>
	</div>
<% end %>